// Character Card

.character-card {
  position: relative;
  width: 100%;
  border-radius: .5rem;
  transition: height .3s ease;
  box-shadow: 0 2px 8px rgba(0, 0, 0, .1);

  &__body {
    position: relative;
    height: 175px;
    width: 138px;
  }

  &__placeholder {
    height: 175px;
    width: 138px;
    left: 0;
    top: 0;
    position: absolute;
    border-radius: .5rem .5rem 0 0;
    background-color: #f5f5f5;
  }

  &__loaded-image {
    border-radius: .5rem .5rem 0 0;
    width: 138px;
    object-fit: cover;
    display: block;
  }

  &__placeholder-content,
  &__content {
    padding: .75rem;
    position: relative;
  }

  &__placeholder-content {
    div {
      background: $grey-med;
      height: .8rem;
      width: 50%;
    }

    div:first-child {
      width: 70%;
      margin-top: .75rem;
      margin-bottom: .875rem;
    }
  }

  &__content {

    h4 {
      font-size: 1.125rem;
      color: $grey-darker;
      margin-bottom: .25rem;
      font-weight: 600;
    }

    p {
      font-size: .875rem;
      color: $grey-dark;
    }
  }

  .lazyload-wrapper {
    border-radius: .5rem .5rem 0 0;
    position: absolute;
    left: 0;
    top: 0;
    height: 175px;
    width: 138px;
  }
}