// Movie Credits

.movie-credits {
  margin-bottom: 3rem;
  
  > div {
    padding-bottom: 1rem;
    display: grid;
    gap: 1.125rem;
    place-content: space-between;
    grid-template-columns: repeat(auto-fill, 138px);

    @media (min-width: $breakpoint-mobile) {

      overflow-x: auto;
      width: 100%;
      display: flex;
      flex-wrap: nowrap;
      box-shadow: inset -34px 0px 15px -28px rgba(44, 92, 134, .2);
    }
  }

  .character-card {
    flex-basis: 200px;
  }

  .character-card + .character-card {
    
    @media (min-width: $breakpoint-mobile) {

      margin-left: 1rem;
    }
  }
}